<section class="contacts">

    <div class="contacts_contenedores">

        <button class="contacts_titulo"> CAFE</button>



        <h2 class="contacts_subtitulos">Chicago</h2>
        <p class="contacts_text"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <!--aqui va una linea de separacion-------------------------------------------------------->

        <h2 class="contacts_subtitulos">Monday - Friday</h2>
        <p class="contacts_horario">08:00 AM - 10:00 PM</p>


        <h2 class="contacts_subtitulos">Saturday - Sunday</h2>
        <p class="contacts_horario">08:00 AM - 16:00 PM</p>

        <!--aqui va una linea de separacion----------------------------------------------------->

        <span class="contacts_telefono">+61(0) 383 766 284</span>
        <span class="contacts_correo">noreply@envato.com</span>

    </div>


    <div class="contacts_contenedores">



        <button class="contacts_titulo"> fOOD TRUCK</button>



        <h2 class="contacts_subtitulos">Chicago</h2>
        <p class="contacts_text"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <!--aqui va una linea de separacion-------------------------------------------------------->

        <h2 class="contacts_subtitulos">Monday - Friday</h2>
        <p class="contacts_horario">08:00 AM - 10:00 PM</p>


        <h2 class="contacts_subtitulos">Saturday - Sunday</h2>
        <p class="contacts_horario">08:00 AM - 16:00 PM</p>

        <!--aqui va una linea de separacion----------------------------------------------------->

        <span class="contacts_telefono">+61(0) 383 766 284</span>
        <span class="contacts_correo">noreply@envato.com</span>


    </div>

    <div class="contacts_contenedores">


        <button class="contacts_titulo"> CAFE</button>



        <h2 class="contacts_subtitulos">Chicago</h2>
        <p class="contacts_text"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <!--aqui va una linea de separacion-------------------------------------------------------->

        <h2 class="contacts_subtitulos">Monday - Friday</h2>
        <p class="contacts_horario">08:00 AM - 10:00 PM</p>


        <h2 class="contacts_subtitulos">Saturday - Sunday</h2>
        <p class="contacts_horario">08:00 AM - 16:00 PM</p>

        <!--aqui va una linea de separacion----------------------------------------------------->

        <span class="contacts_telefono">+61(0) 383 766 284</span>
        <span class="contacts_correo">noreply@envato.com</span>



    </div>
    

</section>
