<section class="reviews">
    <img
      class="reviews__img"
      src="/review.png"
      srcset="review.png x1, review@2x.png x2"
      alt="mujer sonriendo"
    />
  
    <div class="reviews__testimonial">
      <svg class="reviews__quotes">
        <use class="reviews__quotes-use" href="/icons.svg#quotes"></use>
      </svg>
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
        nibh vel risus.
      </p>
    </div>
  
    <div class="reviews__dots">
      <span class="reviews__dot"></span>
      <span class="reviews__dot"></span>
      <span class="reviews__dot"></span>
    </div>
  
    <p class="reviews__reviewer">Emily, Los Angeles</p>
  
    <div class="reviews__circles">
      <span class="reviews__circle">
        <svg class="reviews__house">
          <use class="reviews__house-use" href="/icons.svg#house"></use>
        </svg>
      </span>
      <span class="reviews__circle"></span>
      <span class="reviews__circle"></span>
    </div>
  </section>